<article class="card">
        <a href="/<%= pokemon.pokedex_id %>">
            <div class="card__content">
                <div class="tag__id">#<%= pokemon.pokedex_id %></div>   
                <img class="card__img" src=<%= pokemon.sprites.regular %>>
                <h3 class="card__title"><%= pokemon.name.fr %></h3>
            </div>
        </a>
</article>