<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>POKEDEX</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font -->

    <!-- CSS Maison -->
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
      <header class="header">
        <a href="/" title="Retour à l'accueil">
          <h1 class="header__title">POKEDEX</h1>
        </a>
        <nav class="header__menu">
          <ul class="menu__list">
            <li class="menu__list__item"><form action="/search"><input type="search" name="searchedText"  id="input" placeholder="Recherche" value=""><button class="button">🔍</button></form></li>
          </ul>
        </nav>
      </header>
      <main class="main__content">