<%- include('./partials/header') %>
        <div class="content">
            <h2 class="content__title">Liste des Pokemons</h2>
            <div class="cards">
                <% pokedex.forEach(pokemon => { %>
                    <%- include('./partials/card',{pokemon} ) %>
                <% }) %>
            </div>
        </div>
    <%- include('./partials/footer') %>