<%- include('./partials/header') %>
        <div class="content">
            <h2 class="content__title">Recherche : <%= searchedText %></h2>
            <div class="cards">
                <% pokemonsFound.forEach(pokemon => { %>
                    <%- include('./partials/card',{pokemon} ) %>
                <% }) %>
            </div>
        </div>
    <%- include('./partials/footer') %>