<%- include('./partials/header') %>

<main>
    <form action="/filter/arrondissement/" method="get">
        <label for="zipcode">Recherche par arrondissement</label>
        <select name="zipcode" id="zipcode">
            <% data.forEach( element => { %>
                <option value="<%=  element.arrondissement %>"><%=  element.arrondissement %></option>
            <% }) %>
        </select>
        <button>-></button>
    </form>
    <form action="/filter/ouverte/" method="get">
        <label for="zipcode">Ouverte maintenant</label>
        <button>-></button>
    </form>
</main>

<%- include('./partials/footer') %>

